
.menu {
  z-index: 2;
  width: 100%;
  height: 20px;
  color: white;
  padding: 20px 0;
  font-size: 16px;
  position: fixed;
  text-align: center;
  background: transparent;
  transition: background-color 300ms ease;
}

.menu.scrolled {
  color: black;
  backdrop-filter: blur(30px);
  background-color: rgb(221, 221, 221, 0.8);
  border: solid 2px rgba (255, 255, 255, 0.18);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
}

.menu li {
  margin: 0 20px;
  display: inline;
}

.menu.scrolled hr {
  border-top: 0;
}

.menu hr {
  border: 0;
  width: 400px;
  color: white;
  margin-top: 10px;
  position: absolute;
  left: calc(50% - 200px);
  border-top: 2px solid #ccc;
}