.container {
  max-width: 70%;
  margin: 60px auto;
}

.accordion {
  margin-top: 30px;
}

.accordion__head {
  display: flex;
  cursor: pointer;
  min-height: 40px;
  margin-top: 10px;
  user-select: none;
  padding: 10px 20px;
  align-items: center;
  border: solid 1px gray;
  background-color: #f5efeb;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
}

.accordion .show {
  display: flex;
  overflow-y: auto;
  max-height: 500px;
  padding: 10px 20px;
  margin-bottom: 20px;
  align-items: center;
  border: solid 1px gray;
  /* background-color: #c8d9e6; */
  border-radius: 0 0 10px 10px;
  transition: max-height 1s ease-out;
}

.h-0 {
  max-height: 0;
  transition: all 0.5s ease-out;
}

.h-0 span {
  display: none;
}
