@import url(../../colors.css);

.container {
  max-width: 70%;
  margin: 60px auto;
}

.accordion {
  margin-top: 60px;
}

.accordion__head {
  display: flex;
  cursor: pointer;
  min-height: 40px;
  margin-top: 10px;
  user-select: none;
  padding: 10px 20px;
  align-items: center;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
  background-color: var(--beige);
}

.accordion__shadow {
  border-radius: 15px;
  box-shadow: 1px 1px 13px 5px #eeeae5;
}

.accordion .show {
  display: flex;
  max-height: 500px;
  overflow-y: hidden;
  padding: 30px 60px;
  margin-bottom: 20px;
  align-items: center;
  text-align: justify;
  border-radius: 0 0 10px 10px;
  /* background-color: var(--white); */
  transition: max-height 1.5s ease-out;
}

.h-0 {
  max-height: 0;
  transition: all 0.5s ease-out;
}

.h-0 div {
  display: none;
}

.binary {
  position: relative;
}

.binary__head {
  padding: 60px;
  height: 175px;
  display: flex;
  margin: 120px 0;
  font-size: 40px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: var(--lightblue);
}

.lastservice {
  max-width: 700px;
  white-space: pre;
  text-align: center;
}

@media (max-width: 860px) {
  .lastservice {
    white-space: unset;
  }
}
