
.qualities {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(239, 234, 189);
}

.qualities hr {
  width: 1px;
  min-height: 100px;
  background: black;
}

.qualities__icon {
  font-size: 32px;
}

.qualities__description {
  font-size: 32px;
  margin-top: 10px;
}