@font-face {
  font-family: "Garamond"; /* Name your font family */
  src: url("./assets/garamond.ttf"); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: "Garabold"; /* Name your font family */
  src: url("./assets/garabold.ttf"); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: "Semibold"; /* Name your font family */
  src: url("./assets/semibold.ttf"); /* Locate the .ttf file within your directory*/
}

@font-face {
  font-family: "Elza"; /* Name your font family */
  src: url("./assets/Elza.otf"); /* Locate the .ttf file within your directory*/
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  color: #2f4156;
  font-family: "Garamond", sans-serif;
}

textarea {
  resize: none;
}

.w-0 {
  overflow: hidden;
  width: 0px !important;
}

.flex-right {
  justify-content: right;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-20 {
  margin-left: 20px;
}

.ml-150 {
  margin-left: 150px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-45 {
  margin-right: 45px;
}

.r-80 {
  right: -80px;
}

.l-10 {
  left: 10px;
}

.w-0 div {
  display: none;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

.break__line {
  column-count: 2;
  column-gap: 60px;
}

.text-justify {
  text-align: justify;
}
