footer {
  display: flex;
  padding: 20px;
  min-height: 250px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 40px);
  background-color: #2f4156;
}

footer > p {
  margin: 30px 0;
  font-size: 24px;
  color: #f5efeb;
}

.footer__contacts label {
  margin: 10px 0;
  display: block;
  color: #f5efeb;
}

.footer__contacts input {
  width: 100%;
}

.footer__contacts button {
  width: 100%;
  display: block;
  font-size: 14px;
  margin-top: 15px;
  margin-left: auto;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #c8d9e6;
}

footer hr {
  height: 2px;
  width: 100%;
  margin-top: 30px;
  background: white;
}
